<%- include("partials/header") -%>
<body class="audio-page">

<%- include("partials/navbar") -%>

<div id="audio-background" class="background">
<h1 style="color: black;">Audio</h1>
<div class="audio-container">
  <iframe style="border: 0; width: 600px; height: 340px; display: block; margin: auto;" src="https://bandcamp.com/EmbeddedPlayer/album=4275615395/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="https://jenniferlind.bandcamp.com/album/daydream">Daydream by Jennifer Lind</a></iframe>
</div>
</div>

<%- include("partials/footer") -%>
