<%- include("partials/header") -%>
<div id="bio-background" class="background">
<h1>About Me</h1>
<div class="bio-container">
<p class="bio-text">
  A classically trained vocalist, with choral, musical theatre, jazz, and
  contemporary influences, Jennifer Lind is a versatile performer who can sing
  classical and choral music, as well as jazz, R&B, pop, and blue eyed soul.
  She released an EP in February 2021, accompanied by Mark Davis and Jeff
  Hamann, singing swing, ballads, and bossa nova.
</p>
<p class="bio-text">
  Jennifer teaches private voice and piano lessons and provides vocal and piano
  music for weddings, parties, and other events regionally. She also creates
  original piano music in a meditative style. She has past experience working
  as a church music director and as a music therapist.
</p>
<p class="bio-text">
  Jennifer holds a Bachelor of Music degree from Alverno College, where she
  studied voice with jazz vocalist Molly Pufall-Brown. She has also studied with
  jazz vocalist Marcya Daneille. She has been studying piano and voice since
  age 5, when she began singing and playing with her mother, a pianist and
  choral director.
</p>
<p class="bio-text">
  At age 12, Jennifer became a student and performer at the Lawrence University
  Academy of Music in Appleton, WI. She enjoyed singing in choirs and acting in
  musicals throughout her childhood and teenage years and continued singing in
  vocal ensembles throughout adulthood. On a high note, she is a soprano alumna
  of the Milwaukee Symphony Chorus. Currently, she is enjoying exploring solo
  vocal work more in depth.
  </p>
    </div>
    </div>
