<%- include("partials/header") -%>
<body class="main-page">
<%- include("partials/navbar") -%>
<!-- Front Page -->
<div class="front-container">
  <h1 class="main-welcome">Welcome.</h1>
</div>

<%- include("partials/footer") -%>
