<%- include("partials/header") -%>

<!-- Front Page -->
<div id="front-page-background" class="background">
<div class="front-container">
  <h1 style="font-size: 200px;">JL</h1>
  <h2 style="font-size: 48px;">Jennifer Lind</h1>
  <h3 style="font-size: 40px"><i>Music to unwind to</i></h3>
</div>
</div>

<%- include("partials/footer") -%>
