<%- include("partials/header") -%>

<!-- Front Page -->
<div id="front-page-background" class="background">
<div class="front-container">
  <h1 style="font-size: 150px; margin-right: 550px;">Welcome.</h1>
</div>
</div>

<%- include("partials/footer") -%>
