<%- include("partials/header") -%>
<body class="video-page">
<%- include("partials/navbar") -%>
<div id="video-background" class="background">
  <h1>Video</h1>
  <div class="video-container" style="width: 60%; height: auto; margin: auto;">
    <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/3LtLkogvTp8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>

    <div class="video-container" style="width: 60%; height: auto; margin: auto;">
      <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/XSSJJH9NmZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      </div>

      <div class="video-container" style="width: 60%; height: auto; margin: auto;">
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/nfCVzmI6Sgg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
  </div>

<%- include("partials/footer") -%>
